body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }

.container {
    display: flex;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.box1 {
    width: 1250px;
    background-color: #a21a1a;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mainbox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.contact-info, .social-info {
    margin-bottom: 20px;
}

.social-info a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.profile-picture img {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h1 {
    font-size: 36px;
    margin: 0;
}

.profile-info p {
    font-size: 18px;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.portfolio-btn, .resume-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.portfolio-btn {
    background-color: #a21a1a;
    color: black;
}

.resume-btn {
    background-color: black;
    color: #a21a1a;
    border: 2px solid #a21a1a;
}

.social-info {
    flex-direction: row-reverse;
}