p {
    font-family: Serif, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    color: #d50000;
    text-decoration: underline;
}

a:visited {
    color: #673ab7;
}

body {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(82deg, #30bdc0, #18a04c);;
    background-image: url("https://img.over-blog.com/500x375/3/74/71/71/dossier-2/bob_eponge_007-copie-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    font-family: 'Open Sans', sans-serif;
}

blockquote {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
    background-color: #9f9f9f;
    border-left: 3px solid Firebrick;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-style: italic;
  }

  .villagers {
    border-left: 3px solid DodgerBlue;
  }

  .old-farmer {
    border-left: 3px solid ForestGreen;
  }

  header > h1 {
    background-color: yellow;
  }

  .good {
    text-transform: capitalize;
    color: green;
  }

  .bad {
    text-transform: capitalize;
    color: red;
  }

  table tr:nth-child(even) {
    background-color: whitesmoke;
}

table tr:nth-child(odd) {
  background-color: gray;
}

#tableHead {
  background-color: whitesmoke;
}

ul li {

}

ul li #good {
  background-image: url("good.png");
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

ul li #evil {
  background-image: url("bad.png");
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

ul li #cats {
  background-image: url("cats.png");
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

#firstpara {
  font-weight: bold;
}

/* #firstimg {  Exercice sur le flaot 
  float: left;
  margin: 30px;
}

#secondimg {
  float: right;
  margin: 30px;
}

#threeimg {
  float: left;
  margin: 30px;
} */


.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  width: 60%;
}


    